@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
}

.grid {
  display: grid;
  min-width: 480px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "leftBody rightBody";
  column-gap: 4vw;
  padding: 1vw;
}

.leftBody {
  grid-area: leftBody;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding: 1vw;
}

.textHeadLeft {
  font-size: 2vmin;
  font-weight: 1000;
  padding: 10px;
}

.textHeadLeft2 {
  font-size: 2vmin;
  font-weight: 1000;
  padding: 7px;
  margin-top: 20px;
}

.provinceBody {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  margin-top: 40px;
  margin-left: 10px;
}

.provinceSelector {
  font-family: "Kanit", sans-serif;
  width: 100%;
  height: 4vh;
  border: 1px solid rgb(220, 220, 220);
  padding-left: 30px;
  background: rgb(247, 247, 247);
  color: rgb(70, 70, 70);
}
.subcateSelector {
  font-family: "Kanit", sans-serif;
  width: 100%;
  height: 4vh;
  color: rgb(170, 170, 170);
  background: rgb(247, 247, 247);

  border: 1px solid rgb(220, 220, 220);
  padding-left: 10px;
}

.modalCloseButtonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalCloseButton {
  text-align: center;
  width: 300px;
  height: 20px;
  color: rgb(78, 78, 78);
  background: rgb(245, 245, 245);
  border: 1px solid rgb(184, 183, 183);
  border-width: 0.1px;
  border-radius: 2px;
  font-family: "Kanit", sans-serif;
  font-size: 10px;
}

.rightBody {
  grid-area: rightBody;
  border: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ordinaryText {
  font-size: 1.5vmin;
  color: rgb(78, 78, 78);
}

input[type="radio"] {
  transform: scale(0.75);
}

.moreoverdiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreoverbutton {
  text-align: center;
  width: 350px;
  height: 40px;
  color: rgb(78, 78, 78);
  background: white;
  border: 1px solid rgb(184, 183, 183);
  border-width: 0.1px;
  border-radius: 2px;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 480px) {
  .grid {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .leftBody {
    display: none;
  }

  .rightBody {
    grid-area: rightBody;
    border: none;
    min-width: 480px;
    min-height: 1000px;
    padding: 10px;
  }
}
