body {
  min-width: 480px;
}
.gridHeader {
  display: grid;
  grid-template-rows: 1fr 1fr 1.7fr;
  /* grid-template-areas: "leftBody rightBody"; */
  /* column-gap: 3vw; */
  /* padding: 1vw; */
}

.searchBar {
  /* min-width: 480px; */
  height: 5vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.header {
  /* min-width: 480px; */
  height: 5vh;
  background-color: rgb(34, 34, 143);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hardCodedText1 {
  margin-left: 5vw;
}
.hardCodedText2 {
  margin-left: 1.5vw;
}

.logoImg {
  content: url("./icon/klklogodesktop.png");
  width: 120px;
  height: 45px;
  margin-right: 1vw;
}

/* form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

form.example button {
  margin-top: 0px;
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} */
/* 
.filterButton {
  display: none;
} */

@media (max-width: 480px) {
  .hardCodedText2 {
    margin-left: 5vw;
    font-size: 2vh;
  }

  .logoImg {
    content: url("./icon/klklogomobile.png");
    width: 90px;
    height: 55px;
  }

  .searchBar {
    width: 95%;
    height: 1vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px 10px 10px;
    margin-bottom: 10px;
  }

  .filterButton {
    margin-left: 10px;
    background-color: Transparent;
    border: none;
  }
}

.search {
  width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1.8px solid rgb(207, 206, 206);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 8px 0 0 8px;
  outline: none;
  color: #dfdfdf;
  font-family: "Kanit", sans-serif;
}

.searchTerm:focus {
  color: rgb(71, 71, 71);
}

.searchButton {
  width: 70px;
  height: 34px;
  border: 1.8px solid rgb(207, 206, 206);
  border-left: none;
  background: rgb(236, 235, 235);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
