body {
  min-width: 480px;
}
.gridHeader {
  display: grid;
  grid-template-rows: 1fr 1fr 1.7fr;
}

.mapIconHead {
  position: absolute;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 10;
}

.provinceSelectorHeader {
  font-family: "Kanit", sans-serif;
  width: 170px;
  height: 34px;
  border: 1.8px solid rgb(207, 206, 206);
  background: rgb(247, 247, 247);
  border-right: none;
  padding-left: 30px;
  border-radius: 8px 0 0 8px;
  color: rgb(70, 70, 70);
}

.searchBar {
  height: 4vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.header {
  height: 5vh;
  background-color: rgb(30, 60, 120);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.homeAndSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  margin-left: 5vw;
}

.hardCodedText1 {
  color: white;
  text-decoration: underline;
}
.hardCodedText2 {
  margin-left: 1.5vw;
}

.logoImg {
  content: url("./icon/klklogodesktop.png");
  width: 120px;
  height: 45px;
  margin-right: 1vw;
}

.search {
  width: 60%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1.8px solid rgb(207, 206, 206);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 0x 0 0 8px;
  outline: none;
  color: #dfdfdf;
  font-family: "Kanit", sans-serif;
}

.searchTerm:focus {
  color: rgb(71, 71, 71);
}

.searchButton {
  width: 70px;
  height: 34px;
  border: 1.8px solid rgb(207, 206, 206);
  border-left: none;
  background: rgb(236, 235, 235);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 13px;
}

@media (max-width: 480px) {
  .mapIconHead {
    display: none;
  }

  .provinceSelectorHeader {
    display: none;
  }

  .hardCodedText2 {
    margin-left: 5vw;
    font-size: 2vh;
  }

  .logoImg {
    content: url("./icon/klklogomobile.png");
    width: 90px;
    height: 55px;
  }

  .search {
    width: 70%;
    position: relative;
    display: flex;
  }

  .searchBar {
    min-width: 480px;
    height: 1vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px 10px 10px;
    margin-bottom: 10px;
  }

  .filterButton {
    margin-left: 10px;
    background-color: Transparent;
    border: none;
  }

  .filterIcon {
    width: 23px;
    height: 23px;
  }
}

@media screen and (min-width: 481px) {
  .filterButton {
    display: none;
  }
}
