/* .rowMerchant {
  grid-auto-columns: 1fr 3fr;
} */

.merchantBox {
  width: auto;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(210, 230, 240);
  margin-bottom: 5px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.openCloseSticker {
  margin-top: 1vh;
}

.isOpenSticker {
  margin-left: 10px;
  width: 3vw;
  height: 2vh;
  border-radius: 2px;
  color: white;
  background-color: rgb(43, 190, 6);
  font-size: 9px;
  font-weight: 700;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isCloseSticker {
  margin-left: 10px;
  width: 3vw;
  height: 2vh;
  border-radius: 2px;
  color: white;
  background-color: rgb(182, 179, 179);
  font-size: 9px;
  font-weight: 700;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondTitleContainer {
  font-size: 1.8vh;
  margin-top: 0.5vh;
  color: rgb(140, 140, 140);
}

.keedkeed {
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 0.8vh;
  color: rgb(200, 200, 200);
}
.merchantImg {
  float: left;
  width: 16.5vw;
  height: 100%;
  border-radius: 4px;
}

.imgClosedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.merchantImgClosed {
  float: left;
  width: 16.5vw;
  height: 100%;
  border-radius: 4px;
  opacity: 60%;
}

.NAimg {
  position: absolute;
  width: 5vw;
  height: 10vh;
  z-index: 10;
}

.merchantTextbox {
  margin-left: 20px;
  /* background-color: rgb(239, 239, 241);*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.iconImg {
  margin-top: 0.3vw;
  margin-left: 0.3vw;
  width: 2vw;
  height: 4vh;
}

.shopNameText {
  margin-top: 5px;
  font-size: 2.5vmin;
  font-weight: 1000;
}

.additionalInfo {
  font-size: 1.8vh;
  margin-top: 2vh;
  color: rgb(140, 140, 140);
}

.boldmenu {
  color: rgb(94, 94, 94);
}

.facility {
  margin-top: 1.7vh;
}

@media (max-width: 480px) {
  body {
    /* background-color: black; */
  }

  .merchantBox {
    width: auto;
    height: auto;
    border: 1px solid rgb(210, 230, 240);
    padding: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .merchantImg {
    width: 100%;
    margin-top: 0px;
    height: 40vh;
    border-radius: 4px;
  }

  .merchantImgClosed {
    min-width: 100%;
    height: 35vh;
    border-radius: 4px;
    opacity: 60%;
  }

  .NAimg {
    position: absolute;
    width: 22vw;
    height: 13vh;
    z-index: 10;
  }

  .shopNameText {
    margin-top: 3vh;
    font-size: 5vmin;
    font-weight: 1000;
  }

  .openCloseSticker {
    margin-top: 3.5vh;
  }

  .isOpenSticker {
    margin-left: 2vw;
    width: 7vw;
    height: 1.5vh;
    border-radius: 2px;
    color: white;
    background-color: rgb(43, 190, 6);
    font-size: 9px;
    font-weight: 700;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .isCloseSticker {
    margin-left: 2vw;
    width: 7vw;
    height: 1.5vh;
    border-radius: 2px;
    color: white;
    background-color: rgb(182, 179, 179);
    font-size: 9px;
    font-weight: 700;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconImg {
    margin-top: 0.3vw;
    margin-left: 0.3vw;
    margin-bottom: 4vw;
    width: 8vw;
    height: 3.5vh;
  }

  .keedkeed {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 0.4vh;
    color: rgb(200, 200, 200);
  }

  .secondTitleContainer {
    font-size: 1.2vh;
    margin-top: 0.5vh;
    color: rgb(140, 140, 140);
  }

  .additionalInfo {
    font-size: 1.2vh;
    margin-top: 2vh;
    color: rgb(140, 140, 140);
  }
}
