@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
  background: rgb(21, 193, 255);
  background: linear-gradient(
    0deg,
    rgba(21, 193, 255, 1) 0%,
    rgba(44, 218, 254, 1) 6%,
    rgba(100, 226, 252, 1) 12%,
    rgba(172, 240, 254, 1) 29%,
    rgba(220, 249, 255, 1) 44%,
    rgba(255, 255, 255, 1) 63%
  );
}
